.button{
    box-sizing: border-box;
    position: relative;
    background: #f72359;
    padding: 1em 2em;
    color: #ffffff;
    font-size: 1.2em;
    overflow: hidden;
    border-radius: 100px;
    margin: 20px 0 0 50px;
}
span{
    position: relative;
}
.button:hover:before{
    --size:400px;
}
.button:before{
    --size:0;
    content:"";
    position: absolute;
    left: var(--x);
    top:var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side,#4405f7,transparent);
    transform: translate(-50%,-50%);
    transition: width .2s ease,height .2s ease;
}